binds {

    Mod+T hotkey-overlay-title="Open a Terminal: kitty" { spawn-sh "kitty --hold fastfetch"; }
    Mod+Z hotkey-overlay-title="Open a Browser: zen-browser" { spawn "zen-browser"; }
    Mod+D hotkey-overlay-title="Run an Application: vesktop" { spawn "vesktop"; }
    Mod+N hotkey-overlay-title="Open Notification Centre" { spawn-sh "swaync-client -t"; }
    F12 hotkey-overlay-title="Open btop" { spawn-sh "kitty btop"; }
    Mod+Space {spawn-sh "vicinae toggle"; }

    Mod+P { spawn-sh "kitty paru & (sleep 0.3 && /usr/bin/niri-sidebar toggle-window)"; }
    Ctrl+Space { spawn-sh "wlr-which-key"; }

    Mod+S { spawn-sh "/usr/bin/niri-sidebar toggle-window"; }
    Mod+Shift+S { spawn-sh "/usr/bin/niri-sidebar toggle-visibility && niri msg action switch-focus-between-floating-and-tiling"; }
    Mod+Ctrl+S { spawn-sh "/usr/bin/niri-sidebar flip"; }
    Mod+Alt+R { spawn-sh "/usr/bin/niri-sidebar reorder"; }
}
