spawn-sh-at-startup "hyprlock --grace 10"
spawn-at-startup "waybar"
spawn-sh-at-startup "python3 ~/.config/niri/scripts/niri_tile_to_n.py"
spawn-at-startup "swaync"
spawn-at-startup "hypridle"
spawn-sh-at-startup "swaybg -i ~/Pictures/Wallpaper-Gargantua.jpg"
spawn-sh-at-startup "vicinae server"
spawn-sh-at-startup "/usr/bin/niri-sidebar listen"
spawn-sh-at-startup "quickshell"
